*
  box-sizing border-box

.vvg
  height 45vmin
  display none
  overflow visible !important

  &__code-block
    fill var(--block-color, var(--owl-1))

  &__bulb
    &-bulb
      fill var(--bulb)
    &-dashes
      stroke var(--sparks)
      stroke-width 4px
    &-filament
      stroke var(--filament)
    &-screw
      fill var(--screw)

  &__cheeks
    fill var(--cheeks)

  &__cap
    &-body
      fill var(--cap)
    &-strap
      fill var(--strap)
    &-notch
      fill var(--stroke)

  &-stroke
    stroke var(--stroke)
    stroke-width 2px

  &__eyes
    fill var(--eyes)
    stroke var(--eyes)

  &-hair
    fill var(--beard)

    &--light
      fill var(--beard-light)


  &__shirt
    fill var(--shirt)

    &--shade
      fill var(--shirt-shade)

  &-skin
    fill var(--skin)
    &--shade
      fill var(--skin-shade)

  &__laptop
    &-badge
      fill var(--laptop-badge)
    &-shell
      fill var(--laptop)

      &--main
        fill var(--laptop-main)

      &--shade
        fill var(--laptop-shade)