{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "16.8.0"
    }
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app"
  ],
  "plugins": [
    "prettier",
    "react",
    "react-hooks"
  ],
  "rules": {
    "prettier/prettier": [
      2,
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "semi": false,
        "parser": "flow",
        "jsxBracketSameLine": true
      }
    ],
    "no-unused-vars": 2,
    "no-console": 2,
    "no-restricted-syntax": 2,
    "no-undef": 2,
    "no-useless-catch": 0,
    "no-misleading-character-class": 0,
    "no-async-promise-executor": 0,
    "require-atomic-updates": 0,
    "react/react-in-jsx-scope": 0,
    "react-hooks/rules-of-hooks": 2,
    "react-hooks/exhaustive-deps": 1
  }
}