.actions-container {
  margin-top: var(--padding);
  display: flex;
}

.actions-container > * + *,
.configuration-container > * + *,
.io-container > * + * {
  margin-left: var(--padding);
}

.configuration-container {
  -webkit-clip-path: inset(0 calc((100 - (var(--scale) * 100)) * 1%) 0 0);
  clip-path: inset(0 calc((100 - (var(--scale) * 100)) * 1%) 0 0);
  transition: clip-path 0.25s;
  display: flex;
  padding-left: var(--padding);
  margin-left: 0;
}

.io-container {
  display: flex;
  border-left: 2px solid var(--grey);
  border-right: 2px solid var(--grey);
  padding: 0 var(--padding);
}