.toasts {
  position: fixed;
  bottom: var(--padding);
  right: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 3;
}

.toasts > * + * {
  margin-top: var(--padding);
}