html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title parcel-react-electron-boilerplate 📦
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    meta(name="description", content="minimal boilerplate for React with Parcel JS on Electron")
    link(rel="stylesheet", href="../styles/index.styl")
  body
    #root
    script(src="../scripts/index.js")