doctype html
html(lang='')
  head
    meta(charset="utf-8")
    //- link(rel="shortcut icon" href="/public/favicon.ico")
    //- link(rel="apple-touch-icon" href="/public/logo192.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#111111")
    //- link(rel="manifest" href="/manifest.webmanifest")
    link(rel='stylesheet' href='/styles/index.styl')
    title Vincent van Git 🎨
  body
    #app
    script(src='/scripts/index.js')
    //- script.
    //-   if('serviceWorker' in navigator) {
    //-     //- Parcel workaround
    //-     const path = 'sw.js'
    //-     navigator.serviceWorker
    //-             .register(path)
    //-             .then(function() { console.log("Service Worker Registered"); });
    //-   }