.settings-drawer {
  position: fixed;
  top: 0;
  left: 100%;
  transform: translate(calc((var(--open) * 100) * -1%), 0);
  transition: transform 0.25s;
}

.settings-drawer__toggle {
  position: absolute;
  right: 100%;
  top: 0;
}