.sliding-drawer__form {
  margin: 0;

  input {
    width: 100%;
  }

  &:invalid [type="submit"],
  [type="submit"][disabled] {
    box-shadow: none;
    background: hsl(216, 14%, 83%);
    color: var(--grey);
    cursor: not-allowed;

    &:active {
      transform: translate(0px, 0px);
    }
  }

  &-field {
    margin-bottom: var(--padding);

    label {
      display: block;
      margin-bottom: calc(var(--padding) * 0.25);
      color: var(--color);
    }

    input {
      border: 0;
    }
  }
}
