meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
meta(name="theme-color" content="#9be9a8")
meta(name="description", content="Turn your GitHub contributions graph into a canvas")
link(rel="stylesheet", href="../shared/styles/shared.styl")
